#pokemon-loader, #pokemon-list-loader {
  display: none;
  margin: 10px;
}

.filter-cont ul li{
  list-style: none;
  display:inline-block;
  margin-right:15px;
}
a{
  color:black;
  font-weight: bold;
  background: #AAAAAA;
  padding:4px;
  border:1px solid black;
  border-radius: 2px;
}

a:hover{
  text-decoration: none;
}

.header {
  margin-top:10px;
  margin-bottom:10px;
}
.header .col-md-6{
  border: 1px solid black;

}

h1{
  margin:5px;
}

.pokemon {
  margin-bottom: 10px;
}

#container {
  margin-bottom: 25px;
}

.pokemon-image, .type {
  cursor: pointer;
}

.type{
  width:60px;
  padding:5px;
  border:1px solid black;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

.type-fire {
  background:red;
  color:#DDDDDD;
}

.type-normal {
  background:#AAAAAA;
}

.type-ice {
  background: lightblue;
}

.type-steel {
  background: gray;
}

.type-water {
  background: blue;
  color:#DDDDDD;
}

.type-bug {
  background: green;
}

.type-flying {
  background: orange;
}

.type-poison {
  background: lightgreen;
}
.btn{
  width:100%;
}
ul#pokemon-list{
  margin:0;
  padding:0;
  text-align:justify;
  line-height:0;
  /*margin:0;*/
  padding:0;*/
  /*для IE-6-7*/
  text-justify:newspaper;
  text-align-last: justify;
}

ul#pokemon-list:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

ul#pokemon-list li{
  display:inline-table;
  line-height:normal;
  height:250px;
  width:150px;
  border: 1px solid black;
  margin-bottom: 30px;
  list-style:none;
  padding:10px;
}

.image{
  height:140px;
  width:130px;
  margin: 0 0 10px 0;
  border:1px solid black;
}

#pokemon{
  height:630px;
  width:250px;
  border:1px solid black;
  display:none;
  padding: 10px 10px 20px 10px;
  position:fixed;
}

.view .type{
  line-height: 0.8;
}

td{
  border:1px solid black !important;
}


.view-image{
  width: 100%;
  height:230px;
  border: 1px solid black;
  /*margin: 10px 10px 10px 10px;*/
}

@media (max-width: 450px){
  #pokemon{
    width:150px;
  }
  .view-image{
    width:100%;
  }
  body{
    min-width:315px;
  }
}

body.filtered .pokemon {
  display: none !important;
}

body.water .pokemon.water {
  display: inline-table !important;
}

body.fire .pokemon.fire {
  display: inline-table !important;
}

body.bug .pokemon.bug {
  display: inline-table !important;
}
body.flying .pokemon.flying {
  display: inline-table !important;
}
body.normal .pokemon.normal {
  display: inline-table !important;
}
body.electric .pokemon.electric {
  display: inline-table !important;
}
body.poison .pokemon.poison{
  display: inline-table !important;
}
